
@{
    ViewBag.Title = "AddSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>AddSocialMedia</h2>

<form method="post">
    <label class="form-control">Baslik</label>
    <input class="form-control" type="text" name="PlatformName"  />
    <br />
    <label class="form-control">Durum</label>
    <input class="form-control" type="text" name="Status" />
    <br /> 
    <hr />
    <button class="btn btn-info">Kaydet</button>
</form>