
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>AddProject</h2>

<form  method="post">
    <label>Proje Baslıgı</label>
    <input type="text" class="form-control" name="Title" />
    <br />
    <label>Baglantı Adresi</label>
    <input type="text" class="form-control" name="CoverImageUrl"  />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>