
@{
    Layout = null;
}

<div syle="margin-left:100px">
    <h3>Mesaj gönderme ssayfası</h3>
    <label>adınız soyanıdınız</label>
    <input type="text"><input />
    <br />
    <h3>mail adresi</h3>
    <input type="email"><input />
    <br />
    <h3>Mesaj Konusu</h3>
    <input type="text"><input />
    <br />
    <label>Mesajınız</label>
    <textarea rows="S"></textarea>
    <br />
    <button>Mesajı Gönder</button>
</div>
