
@{
    ViewBag.Title = "CreateSkiil";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>YeniYetenekGirisi</h2>

<form method="post">
    <label>Yetenek Adi</label>
    <input type="text" name="SkillTitle" class="form-control" />
    <br />
    <label>Yetenek Degeri</label>
    <input type="text" name="SkillValue" class="form-control" />
    <br />
    <button class="btn btn-info">YeteneğiKaydet</button>
</form>