<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url('/Templates/sidebar-01/images/Workspace_1.png'); "></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="#">Portfolyo</a></li>
            <li><a href="/About/index">Hakkımda</a></li>
            <li><a href="/Project/AddProject/">YeniProjeGirişi</a></li>
            <li> <a href="/Service/ServiceList">Hizmetler</a></li>
            <li> <a href="/Statistic/Index">İstatistikler</a></li>
            <li><a href="/Project/ProjectList">Projeler</a></li>
            <li><a href="/Skill/SkillList/">Yetekenekler</a></li>
            <li><a href="/Contact/iletisim/">İletişim Bilgileri</a></li>
            <li><a href="/Contact/MessageList">Gelen Mesajlar</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">ÇıkışYap</a></li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> <br /> Tüm Hakları Sakladır  <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>
