
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>AddService</h2>

<form method="post">
    <label>Hizmet Adı</label>
    <input type="text" name="ServiceTitle" class="form-control" />
    <br />
    <button href="#" class="btn btn-info">Kaydet</button>
</form>


