@model DevFolio.Models.TblService

@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>UpdateService</h2>

<form  method="post">
    <label>Servis image</label>
    <input type="text" class="form-control" name="ServiceImage" value="@Model.ServiceImage" />
    <br />
    <label>HizmetAdi</label>
    <input type="text" class="form-control" name="ServiceTitle" value="@Model.ServiceTitle" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>