
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>AddCategory</h2>

<form method="post">
    <label>category adı</label>
    <input type="text" class="form-control" name="CategoryName"  />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>