@model List<DevFolio.Models.TblAdress>


<div class="col-md-6">
    <div class="title-box-2 pt-4 pt-md-0">
        <h5 class="title-left">
            İletişim
        </h5>
    </div>
    @foreach (var x in Model)
    {

        <div class="more-info">
            <p class="lead">
               @x.Description
            </p>
            <ul class="list-ico">
                <li><span class="ion-ios-location"></span> @x.Location</li>
                <li><span class="ion-ios-telephone"></span> @x.PhoneNumber</li>
                <li><span class="ion-email"></span> @x.Email</li>
            </ul>
        </div>
    }
    <div class="socials">
        <ul>
            <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
            <li><a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
            <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
            <li><a href=""><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>
        </ul>
    </div>
</div>